body{
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    padding:0px;
    margin:0px;
    color: #3C514F;
}


#part1 #title1 #img1 {
    background-color: #2B4846;
    height: 55px;
}

#part1 #title1{
    background-color:#2C4947;
    height:55px;
}

#part1 #aiga {
    background-color: #526462;
    height: 72px;
    position: relative;
    bottom: 4px;
}


#part1 #aiga #img3 {
    position: relative;
    left: 55px;
    top: 7px;
}

#part1 #register1 {
    color: #6b797f;
    font: 20px "Rokkitt", Helvetica, Arial, sans-serif;
    position: relative;
    top: 70px;
}

#part1 #register1 h2 {
    color: #394B63;
    font-weight: normal;
    padding: 0px 30px;
    font-size: 28px;
}

#part1 #register1 p {
    padding: 20px 32px;
    line-height: 2;
    font-size: 16px;
}

.dash {
    background-image: url("assets/part2/dash-horizontal.png");
    background-repeat: repeat-x;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 10px;
    background-position: 50% 50%;
}

#part2 h2 {
    color: #394B63;
    font-weight: normal;
    padding: 0px 30px;
    font-size: 28px;
    text-align: center;
}

.track img {
    position: relative;
    left: 95px;
    margin: 20px auto;
}

.track ul{
    list-style-type: none;
    color: #88511C;
    line-height: 2;
    text-align: center;
    display: inline;
    font-size:15px;
}

#part1 {
    padding-bottom: 50px;
}

#part2 h3 {
    color: #6F8F45;
    padding: 0px 30px;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 30px;
    right: 5px;
}

.line-separator {
    background: #717171;
    border-bottom: 1px solid #717171;
    margin-left: 20px;
    margin-right: 20px;
}


